body {
    font-family: 'Google Sans', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: url('images/background.png') no-repeat center center;
    background-size: cover;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('images/background.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

header.v2 {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header.v2 nav ul.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header.v2 nav ul.nav-list li.nav-item {
    margin: 0 15px;
}

header.v2 nav ul.nav-list li.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

header.v2 nav ul.nav-list li.nav-item a:hover {
    color: #cccccc;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    flex: 1;
}

h1, h2 {
    font-weight: 300;
}

button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #173357;
    border: none;
    padding: 15px 32px;
    margin: 4px 2px;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    font-family: 'Google Sans', sans-serif;
}

button:hover {
    background-color: rgb(52, 7, 126);
}

.form-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.form-section {
    width: 45%;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #052659;
}

#message-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    text-align: center;
}

#message-box.success {
    background-color: #4CAF50;
    color: white;
}

#message-box.error {
    background-color: #f44336;
    color: white;
}

.footer {
    width: 100%;
    background-color: #f0f0f000;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}